
@{
    ViewBag.Title = "Main";
}

<style>

    .ground {
        background-color: darkseagreen;
        height: 400px;
    }

    a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }
</style>
<div class="row">
    <div class="col-6 ground">
        <div>

        </div>
    </div>
    <div class="col-6">

    </div>
</div>

<div class="row">
    <div class="col-6">

    </div>
    <div class="col-6 ground">

    </div>
</div>
<div class="row">
    <div class="col-6 ground">

    </div>
    <div class="col-6">

    </div>
</div>

<div class="row">
    <div class="col-6">

    </div>
    <div class="col-6 ground">

    </div>
</div>
<div class="row">
    <div class="col-6 ground">

    </div>
    <div class="col-6">

    </div>
</div>

<div class="row">
    <div class="col-6">

    </div>
    <div class="col-6 ground">

    </div>
</div>

